@model IEnumerable<LumbiniCityTeacherSchedule.Models.DTO.JoinedClassScheduleDataDTO>

@if (Model != null && Model.Any())
{
    <table class="table table-bordered table-striped align-middle text-center">
        <thead class="table-light">
            <tr>
                <th>Program Name</th>
                <th>Semester</th>
                <th>Subject Name</th>
                <th>Teacher Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Class Type</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProgramName</td>
                    <td> @item.SemesterNumber</td>
                    <td>
                        @if(string.IsNullOrEmpty(item.SubjectName)){
                            <span class="text-danger fw-bold">Not Assigned</span>
                        }else{
                            @item.SubjectName
                        }
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.TeacherName))
                        {
                            <span class="text-danger fw-bold">Not Assigned</span>
                        }
                        else
                        {
                            @item.TeacherName
                        }
                    </td>
                    <td>@item.StartTime</td>
                    <td>@item.EndTime</td>
                    <td>@item.Type</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning text-center">
        No subjects found for this semester. Please
        <a class="fw-bold" href="/Program/Index">complete semester setup</a> to assign teachers.
    </div>
}

